name: CI - Swift Tests

on:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Swift (latest)
        uses: SwiftyLab/setup-swift@latest

      - name: Swift version
        run: swift --version

      - name: Run unit tests
        run: swift test
